.options {
  grid-area: options;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sizeWrap,
.speedWrap {
  width: 80%;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.speedWrap {
  width: 80%;
  min-height: 110px;
}
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 5px 5px 0;
}
input {
  width: 55px;
  height: 20px;
}
